<div id="item-list" class="pixelade">
	<div id="column-left"> 
	    <div class="item"><a href="http://mint.itch.io/pshnggg">
		<img class="item-pic shadow" src="/assets/images/pshnggg.png"></img>
		<div class="item-name bg-medium text-dark font46px shadow-dark" style="font-size: 32px">
		    <span class="item-title">PSHNGGG!</span>
		</div>
	    </a></div>
	    <div class="item"><a href="https://spacetronaut.itch.io/areyouwithus">
		<img class="item-pic shadow" src="/assets/images/aywu.png"></img>
		<div class="item-name bg-medium text-dark font46px shadow-dark" style="font-size: 32px">
		    <span class="item-title">Are You With Us?</span>
		</div>
	    </a></div>
	    <div class="item"><a href="http://mint.itch.io/selfie-assault">
		<img class="item-pic shadow" src="/assets/images/selfie-assault.png"></img>
		<div class="item-name bg-medium text-dark font46px shadow-dark" style="font-size: 32px">
		    <span class="item-title">Selfie Assault!</span>
		</div>
	    </a></div>
    
	</div>
	<div id="column-right">
	    <div class="item"><a href="https://dualhammers.itch.io/orison-of-mercury-">
		<img class="item-pic shadow" src="/assets/images/oom.png"></img>
		<div class="item-name bg-medium text-dark shadow-dark-left" style="font-size: 30px;">
		    <span class="item-title">Orison of Mercury</span>
		</div>
	    </a></div>
	    <div class="item"><a href="https://jh.itch.io/monster-space-theater">
		<img class="item-pic shadow" src="/assets/images/mst.png"></img>
		<div class="item-name bg-medium text-dark shadow-dark-left" style="font-size: 24px;">
		    <span class="item-title">Monster Space Theater</span>
		</div>
	    </a></div>
	    <div class="item"><a href="https://mint.itch.io/basejump">
		<img class="item-pic shadow" src="/assets/images/basejump.png"></img>
		<div class="item-name bg-medium text-dark font46px shadow-dark-left" style="font-size: 32px;">
		    <span class="item-title">base.jump</span>
		</div>
	    </a></div>
	</div>
    </div>