hr {
	margin: 15px 0px -15px ;
	width: 60%;
	border: 1px solid #5c5987;
}
td a {
	margin-left: 5px;
}
#bio-container {
	height: 100%;
	max-width: 90%;
	margin: 40px 5% 5% 5%;
}
#bio-pics {
	float: left;
	width: 250px;
	height: auto;
	max-width: 30%;
	padding-right: 5%;
}
#bio-pics img {
	width: auto;
	height: auto;
	max-width: 100%;
	max-height: 100%;
	aspect-ratio: 1/1;
	margin-bottom: 12.5%;
}
#bio-text {
	padding-top: 77px;
	line-height: 130%;
	text-align: justify;
	text-wrap: balance;
}
#bio-links {
	font-family: 'eurofurence55';
	margin-bottom: 25px;
	font-size: 26px;
}
#bio-links table {
	margin-left: 12px;
}
#bio-links-wide {
	float: left;
	position: absolute;
	left: 35%;
}
#bio-links-compact {
	display: none;
}

@media (max-width: 579px) {
	#bio-links-wide { display: none; }
	#bio-links-compact { display: inherit; }
	#bio-links {
		margin-bottom: 14px;
	}
	#bio-text {
		padding-top: 0;
	}
	#bio-container {
		margin-top: 20px;
	}
}