#content {
	height: 700px;
}
#bio-pic {
	float: left;
}
#bio-pic img {
	display: block;
	width: 250px;
	margin-bottom: 30px	
}
#bio-text {
	float:right;
	width: 60%;
	line-height: 130%;   
	text-align: justify;
}
#bio-links {
	font-size: 30px;
	margin-bottom: 20px;
}