
#item-list {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
	flex-basis: auto;
	flex-shrink: 1;

	width: 90%;
	height: 90%;
	margin: 40px 5% 5% 5%;
}
#item-list a {
	o-transition:.3s;
	ms-transition:.3s;
	moz-transition:.3s;
	webkit-transition:.3s;
	transition:.3s;
}
#item-list a:hover .item-name {
	background-color: #9999FF;
}
#item-list a:hover {
	background-color: #9999FF;
}
#item-list a:hover img {
	transition: .28s;
	transform: scale(1.02);
}
.column-left {
	width: auto;
	float: left;
	margin-left: 7%;		
}
.column-right {
	width: auto;
	float: right;
	margin-right: 7%;
}
.item-wrapper-left {
	margin-right: 5px;
}
.item-wrapper-right {
	margin-left: 5px;
}
.item {
	position: relative;
}
	.item-popout {
		pointer-events: none;
		position: absolute;
		display: none;
		height: 108%;
		/* width: 150%; */
		top: 0;
		width: clamp(330px, 44vw, 450px);
	}
	.popout-left {
		float: left;
		right: 102%;
		text-align: right;
	}
	.popout-right {
		float: right;
		left: 102%;
		text-align: left;
	}
.item-title {
	font-size: 40px;
}
.font30px {
	font-size: 38px;
}
.font28px {
	font-size: 36px;
}
.font26px {
	font-size: 34px;
}
.font24px {
	font-size: 30px;
}
.font22px {
	font-size: 30px;
}

@media (min-width: 620px) {
	.item:hover  .item-popout {
		display: block;
		z-index: 10;
	}
}
@media (max-width: 714px) {
	#item-list {
		width: 98.5%;
		margin: 20px 5px 5px 5px;
		margin-top: 20px;
	}
	.item-popout {
		width: clamp(330px, 50vw, 450px);
	}
}