#content {
}
#page-name:hover {
	color: #b1f8d0;
}
#page-name:hover + #navarrow{
	opacity: 100%;
}
#navarrow {
	position: absolute;
	left: 1%;
	top: 1%;
	font-size: 42px;
	color: #5c5987;
	opacity: 0%;
}
#game-info {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;

	margin: 40px 5% 0 5%;
	font-size: 30px;
	font-weight: normal;
}
#game-info img {
	height: 200px;
	width: 300px;
}
#game-info a:hover {
	color: #9999FF;
}
#game-header {
	margin-left: 5%;
	width: 355px;
	max-width: 100%;
}
#game-pic-wrapper {
	flex: 0;
	margin-bottom: 10px;
}
#game-pic-wrapper a:hover {
	background-color: #9999FF;
}
#role {
	margin-top: 10px;
	font-weight: 900;
}
.info-item {
	padding: 10px;
}
.info-item a {
	text-decoration: underline 2px;
}
#game-desc {
	min-width: 50%;
	padding-top: 10px;
	margin: 25px;
	min-width: 85%;
	text-wrap: balance;
}