@font-face {
	font-family: 'pixelade';
	src: url('../pixelade/pixelade-webfont.eot');
	src: url('../pixelade/pixelade-webfont.eot?#iefix') format('embedded-opentype'),
		 url('../pixelade/pixelade-webfont.woff') format('woff'),
		 url('../pixelade/pixelade-webfont.ttf') format('truetype'),
		 url('../pixelade/pixelade-webfont.svg#pixeladeregular') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
    font-family: 'Mono Social Icons Font';
    src: url('../monoicons/MonoSocialIconsFont-1.10.eot');
    src: url('../monoicons/MonoSocialIconsFont-1.10.eot?#iefix') format('embedded-opentype'),
         url('../monoicons/MonoSocialIconsFont-1.10.woff') format('woff'),
         url('../monoicons/MonoSocialIconsFont-1.10.ttf') format('truetype'),
         url('../monoicons/MonoSocialIconsFont-1.10.svg#MonoSocialIconsFont') format('svg');
    src: url('../monoicons/MonoSocialIconsFont-1.10.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'eurofurence35';
    src: url('../assets/fonts/eurofc35.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'eurofurence55';
    src: url('../assets/fonts/eurofc55.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'eurofurence75';
    src: url('../assets/fonts/eurofc75.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'unifur';
    src: url('../assets/fonts/unifur.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

.symbol, a.symbol:before {
    font-family: 'Mono Social Icons Font';
    -webkit-text-rendering: optimizeLegibility;
    -moz-text-rendering: optimizeLegibility;
    -ms-text-rendering: optimizeLegibility;
    -o-text-rendering: optimizeLegibility;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
    -ms-font-smoothing: antialiased;
    -o-font-smoothing: antialiased;
    font-smoothing: antialiased;
}

a.symbol:before {
    content: attr(title);
    margin-right: 0.3em;
    font-size: 130%;
}

body {
	font-family:sofia-pro, sans-serif;
	font-weight: 400;
	font-size: 18px;
}
a {
	text-decoration: none;
	color: inherit;
}
nav {
	font-family: 'eurofurence55';
	font-size: 32px;
	display: inline;
	font-weight: 500;
}
nav a {
	o-transition:.3s;
	ms-transition:.3s;
	moz-transition:.3s;
	webkit-transition:.3s;
	transition:.3s;
	/* border-bottom: 0px solid #5c5987; */
}
nav a:hover {
	/* border-bottom: 5px solid #9999FF; */
	text-decoration: underline;
	text-decoration-thickness: .05em;
	text-underline-offset: 3px;
	color: #9999FF;
}
nav a .underline {

}
.active {
	border-bottom: 5px solid #9999FF;
}
.text-light {
	color: #b1f8d0;
}
.text-dark {
	color: #5c5863;
}
.text-medium {
	color: #9999FF;
}
.bg-dark {
	background-color: #5c5987;
}
.bg-light {
	background-color: #9BE2B9;
}
.bg-medium {
	background-color: #9999FF;
}
.rounded {
	border-radius: 10px;
}
.font40px {
	font-size: 40px;
}
.shadow-dark {
	box-shadow: 5px 6px #5c5987;
}
.shadow-dark-left {
	box-shadow: -5px 6px #5c5987;
}
.shadow-light {
	box-shadow: 5px 5px #87CEA5;
}
.separator-left {
	border-left: 2px solid #9999FF;
}
.separator-right {
	border-right: 2px solid #9999FF;
}
.separator-top {
	border-top: 1px solid #5c5987;
}
.contains-links a {
	/*border-bottom: 1px solid #ff1f4c;
	/*color: #ff1f4c;*/
	text-decoration: underline;
}
.contains-links a:hover {
	/*color: #5c5863;*/
	color: #9999FF;
}
.img-wrapper {
	overflow: hidden;
}
.item {
	font-family: eurofurence75;
	height: 250px;
	width: 300px;
	margin-bottom: 20px;
}
	.item-pic {
		height: 200px;
	}
	.item-name {
		height:50px;
	}
		.item-title {
			margin: 10px 0 10px 10px;
			line-height: 50px;
		}
.page-content {
	height: 100%;
}
#wrapper {
	display: flex;
	flex-direction: column;
  align-content: flex-start;
  justify-content: center;
}
#container {
	position: absolute;
	width: 100%;
	height: auto;
	display: flex;
  justify-content: space-around;
  
}
	#shutter {
		position: relative;
		max-width: 100%;
		text-align: center;
		display: flex;
		flex-direction: column;
		justify-content: center;
		height: 100%;
		text-align: center;
		margin-top: 0.5%;
		margin-bottom: 0.5%;
	}
		#mintsymbol {
			height: 120px;
			width: 120px;
			margin-right: auto;
			margin-left: auto;
		}
		#mintsymbol svg {
			width: 100%;
			height: 100%;
			aspect-ratio: 1;
		}
		#minttext {
			position: absolute;
			top: 68px;
			left: 0;
			right: 0;
			width: auto;
			font-size: 50px;
			font-weight: 200;

		}
		#navigation {
			margin-top: 4px;
		}
		#navlinks {
			/* font-size: 34px; */
			display: flex;
			justify-content: center;
		}
		.nav-link {
			padding: 0 20px 0 20px;
		}
		#externallinks {
			position:absolute;
			top: 140px;
			left: 0;
			right: 0;
		}
		#externallinks a {
			font-size: 50px;
		}a
		#externallinks a:hover {
			border:none;
		}
	.content {
		position: relative;
		margin: 10px auto 40px auto;
		height: auto;
		padding-bottom: 20px;
		max-width: 900px;
		width: 100%;
	}
		#page-name {
			font-family: 'eurofurence55';
			position: relative;
			width: auto;
			top: -5px;
			margin-left: 5%;
			padding: 1px 10px 7px;
			font-size: clamp(42px, 5vw, 50px);
		}
		#link-panel {
			position: absolute;
			width: auto;
			top: -6px;
			right: 5%;
			padding: 7px 10px;
			font-size: clamp(35px, 5vw, 40px);
		}
		#link-panel a {
			o-transition:.3s;
			ms-transition:.3s;
			moz-transition:.3s;
			webkit-transition:.3s;
			transition:.3s;
		}
		#link-panel a:hover {
			color: #b1f8d0;
		}
#footer {
	position: relative;
	width: 100%;
}