---
layout: page
---
<head>
    <link rel="stylesheet" href="{{ "/assets/about.css" | relative_url }}">
</head>

<div id ="bio-container" class="content text-dark contains-links">
    <div id="bio-pic" class="width40">
        <img id="irl_pic" class="shadow-dark item" src="../assets/images/mintreal.png"></img>
        <img id="mint_pic" class="shadow-dark item" src="../assets/images/marumint.png"></img>
    </div>
    <div id="bio-text">
        <div id="bio-links" class="separator-left">
            <table>
                <tr>
                    <td>Email:</td><td><a href="mailto:mint@mintchipleaf.com">mint@mintchipleaf.com</a></td>
                </tr>
                <tr>
                    <td>Github:</td><td><a href="http://www.github.com/mintchipleaf">github.com/mintchipleaf</a></td>
            </table>
        </div>
        {{ content }}
    </div>
</div>