---
layout: default
---
<head>
  <link rel="stylesheet" href="{{ "/assets/games.css" | relative_url }}">
</head>

<div id="content" class="bg-light">
  <span id="page-name" class="font50px text-dark bg-medium shadow-dark pixelade">{{ page.title | escape }}</span>
  <span id="link-panel" class="font50px text-dark bg-medium shadow-dark-left pixelade">{% include sociallinks.html %}</span>
  {%- include gameslist.html loc=site.categories.games-%}
</div>

<div id="content" class="bg-light">
  <span id="page-name" class="font50px text-dark bg-medium shadow-dark pixelade">{{ "jams" | escape }}</span>
  {%- include gameslist.html loc=site.categories.jams-%}
</div>