---
layout: default
---
<head>
  <link rel="stylesheet" href="{{ "/assets/games.css" | relative_url }}">
</head>

<div class="content bg-light">
  <span class="page-name font40px text-dark bg-medium shadow-dark pixelade">{{ page.title | escape }}</span>
  <span class="link-panel {{page.titleclass}} text-dark bg-medium shadow-dark-left pixelade">{% include links/social_links.html %}</span>
  {%- include gameslist.html loc=site.categories.games-%}
</div>

<div class="content second-content bg-light">
  <div>
      <span class="page-name font40px text-dark bg-medium shadow-dark pixelade">{{ "jams" | escape }}</span>
  </div>
  {%- include gameslist.html loc=site.categories.jams-%}
</div>